::selection {
    background-color: highlight;
}

#header-spring {
    border-top-color: #45a2ce;
}

#header-spring h1 svg {
    height: 40px;
    margin-left: -30px;
}

/* Hide the Spring and Pivotal logos */
#header-spring h1 svg #logos {
    visibility: hidden;
}

@media only screen and (min-width: 768px) {
    #tocbot .is-active-link {
        border-right-color: #45a2ce;
    }
}

/* Hide (X) in code that was not ignored by Prism during highlighting */
code b {
    display: none;
    visibility: hidden;
}

.conum[data-value] {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.8);
}

pre .conum[data-value] {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
}

/* Enable top and bottom border and code overflow for Prism */
.listingblock pre[class] {
    padding: 0.2rem 0;
    background-color: #f2f2f2;
}

.listingblock pre[class] code {
    display: block;
    overflow-x: auto;
    padding: 1em 1.5rem;
    background: #f8f8f8;
}
